<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sect1 PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN"
  "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../general.ent">
  %general-entities;
]>

<sect1 id="ch-system-acl" role="wrap">
  <?dbhtml filename="acl.html"?>

  <sect1info condition="script">
    <productname>acl</productname>
    <productnumber>&acl-version;</productnumber>
    <address>&acl-url;</address>
  </sect1info>

  <title>Acl-&acl-version;</title>

  <indexterm zone="ch-system-acl">
    <primary sortas="a-Acl">Acl</primary>
  </indexterm>

  <sect2 role="package">
    <title/>

    <para>Acl 패키지에는 액세서 제어 목록을 관리하는 유틸리티가 포함되어 있다. 이 유틸리티는 파일 및 디렉토리에 대한 보다 세분화된 액세스 권한을 정의하는 데 사용된다.</para>

    <segmentedlist>
      <segtitle>&buildtime;</segtitle>
      <segtitle>&diskspace;</segtitle>

      <seglistitem>
        <seg>&acl-ch6-sbu;</seg>
        <seg>&acl-ch6-du;</seg>
      </seglistitem>
    </segmentedlist>

  </sect2>

  <sect2 role="installation">
    <title>Acl 설치</title>

    <para>Acl 컴파일을 준비한다:</para>

<screen revision="sysv"><userinput remap="configure">./configure --prefix=/usr         \
            --bindir=/bin         \
            --disable-static      \
            --libexecdir=/usr/lib \
            --docdir=/usr/share/doc/acl-&acl-version;</userinput></screen>

<screen revision="systemd"><userinput remap="configure">./configure --prefix=/usr         \
            --disable-static      \
            --libexecdir=/usr/lib \
            --docdir=/usr/share/doc/acl-&acl-version;</userinput></screen>

    <para>패키지를 컴파일한다:</para>

<screen><userinput remap="make">make</userinput></screen>

    <para>Acl 테스트는 <application>Coreutils</application>가 Acl 라이브러리와 함께 빌드된 후, 액세스 관리를 지원하는 파일 시스템에서 실행되어야 한다. 테스트를 원하면 이 장 뒷부분에서 <application>Coreutils</application>를 빌드한 후 <command>make check</command>를 실행하라.</para>

    <para>패키지를 설치한다:</para>

<screen><userinput remap="install">make install</userinput></screen>

    <para>공유 라이브러리를 <filename class="directory">/lib</filename>로 이동해야 하므로 <filename class="directory">/usr/lib</filename>의 <filename class="extension">.so</filename> 파일을 다시 만들어야 한다:</para>

<screen><userinput remap="install">mv -v /usr/lib/libacl.so.* /lib
ln -sfv ../../lib/$(readlink /usr/lib/libacl.so) /usr/lib/libacl.so</userinput></screen>

  </sect2>

  <sect2 id="contents-acl" role="content">
    <title>Acl의 내용</title>

    <segmentedlist>
      <segtitle>설치된 프로그램들</segtitle>
      <segtitle>설치된 라이브러리</segtitle>
      <segtitle>설치된 디렉토리들</segtitle>

      <seglistitem>
        <seg>chacl, getfacl과  setfacl</seg>
        <seg>libacl.so</seg>
        <seg>/usr/include/acl과 /usr/share/doc/acl-&acl-version;</seg>
      </seglistitem>
    </segmentedlist>

    <variablelist>
      <bridgehead renderas="sect3">요약</bridgehead>
      <?dbfo list-presentation="list"?>
      <?dbhtml list-presentation="table"?>

      <varlistentry id="chacl">
        <term><command>chacl</command></term>
        <listitem>
          <para>파일 또는 디렉토리의 액세스 제어 목록 변경</para>
          <indexterm zone="ch-system-acl chacl">
            <primary sortas="b-chacl">chacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="getfacl">
        <term><command>getfacl</command></term>
        <listitem>
          <para>파일 액세스 제어 목록을 가져옴</para>
          <indexterm zone="ch-system-acl getfacl">
            <primary sortas="b-getfacl">getfacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="setfacl">
        <term><command>setfacl</command></term>
        <listitem>
          <para>파일 액세스 제어 목록 설정</para>
          <indexterm zone="ch-system-acl setfacl">
            <primary sortas="b-setfacl">setfacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

      <varlistentry id="libacl">
        <term><filename class="libraryfile">libacl</filename></term>
        <listitem>
          <para>액세스 제어 목록을 조작하는 라이브러리 함수 포함</para>
          <indexterm zone="ch-system-acl libacl">
            <primary sortas="c-libacl">libacl</primary>
          </indexterm>
        </listitem>
      </varlistentry>

    </variablelist>

  </sect2>

</sect1>
